.rsvp-button {
  background-color: #fbfbfb;
  color: #041e42;
  font-size: 20px;
  padding: 8px 16px;
  border: black;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.5s;
}

.rsvp-button:hover {
  background-color: #000000;
  color: antiquewhite;
}

.button {
  background-color: transparent;
  border: 2px solid #ffffff;
  color: #ffffff;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  transition-duration: 0.4s;
}
.button:hover {
  background-color: #ffffff;
  color: #000000;
}


#particles-js {
  color: #ffffff;
  font-family: Arial, sans-serif;
  position: relative;
  /*Cuando querras seguir trabajando borrale esto*/
  height: 2300px;
  width: 100%;
  background-color: #041E42;
  display: grid;
  place-items: center;
  background-size: cover;
  z-index: -1;
  position: fixed;
}
.bordes-degradados {
  width: 125px; 
  height: 2.5px;        
  background-image: linear-gradient(45deg, #BEBEBE, #BEBEBE);  
}
/* Estilos generales */
body {
  background-color: #041E42;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

#principal {
  color: aliceblue;
  margin-left: 10%;
  max-width: 80%;
}

.invitation {
  text-align: center;
}

h1 {
  font-size: 40px;
  font-family: 'Beau Rivage';
  font-weight: lighter;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
}

/* Media queries para pantallas pequeñas */
@media only screen and (max-width: 600px) {
  #principal {
    margin-left: 5%;
  }
  h1 {
    font-size: 30px;
  }
}

/* Media queries para pantallas medianas */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  #principal {
    margin-left: 20%;
  }
  h1 {
    font-size: 35px;
  }
}
